.hero{
    background-image: linear-gradient(rgba(0,0,253,.2), rgba(0,0,253,.2)), url('img/rectangle-17.png');
    background-size: cover;
    background-position: bottom;
    height:100vh;
    display:flex;
    align-items: center;
    justify-content: center;

    &__content{
        display:flex;
        flex-direction: column;
        width:100%;
        justify-content: center;
        align-items: center;
        
        .title{
            color:white;
            font-size:10rem;
            text-align:center;
            letter-spacing: -3px;
            @include respond(phone){
                font-size: 7rem;
                padding:0 1rem;
                line-height:100%;
                margin-bottom:2.5rem;
            }
        }
        .description{
            color:white;
            text-align:center;
            font-size:1.8rem;
            font-family: 'Poppins', sans-serif;
            font-weight:400;
            opacity:.7;
            width:56rem;
            margin-bottom:5.6rem;
            @include respond(phone){
                width:100%;
                padding:0 3rem;
            }
        }

    }
}